# EB82 iCEstick Kit User Guide pp.16 Expansion I/O Connections


# ----------------------------------------------------------
# PCB clock, LEDs, UART
set_io i_clk 21

set_io o_board_led[0] 99
set_io o_board_led[1] 98
set_io o_board_led[2] 97
set_io o_board_led[3] 96
set_io o_board_led[4] 95

# set_io i_uart_rxd 106
# set_io o_uart_txd 105 


# ----------------------------------------------------------
# J1 - top 0.1" strip; reads high to low 119 downto 112, left to right
set_io o_drive_seg[0] 119 # Cathode A; LTC Pin 14
set_io o_drive_seg[1] 118 # Cathode B; LTC Pin 16
set_io o_drive_seg[2] 117 # Cathode C; LTC Pin 13
set_io o_drive_seg[3] 116 # Cathode D; LTC Pin 3
set_io o_drive_seg[4] 115 # Cathode E; LTC Pin 5
set_io o_drive_seg[5] 114 # Cathode F; LTC Pin 11
set_io o_drive_seg[6] 113 # Cathode G; LTC Pin 15
# set_io              112 -pullup yes 


# ----------------------------------------------------------
# J2 - PMOD - 
#    Hdr pin 7 [PIO1_06] @ bot-left ... pin 12 [3v3] @ top-left; 
#    Hdr pin 1 [PIO1_02] @ bot-right ... pin 6 [3v3] @ top-right;

# set_io 78 # Header pin 1; PIO1_02
# set_io 79 # Header pin 2; PIO1_03
# set_io 80 # Header pin 3; PIO1_04
# set_io 81 # Header pin 4; PIO1_05
# set_io 87 # Header pin 7; PIO1_06
# set_io 88 # Header pin 8; PIO1_07
set_io o_uart_txd 90 # Header pin 9; PIO1_08
set_io i_uart_rxd 91 # Header pin 10; PIO1_09

# ----------------------------------------------------------
# J3 - bot 0.1" strip; reads low to high, left to right

set_io i_rst_n 44 -pullup yes 

# set_io  45 
# set_io  47 
# set_io  48 
set_io o_drive_dig[0] 56 # Common Anode Digit 1; LTC Pin 1 
set_io o_drive_dig[1] 60 # Common Anode Digit 2; LTC Pin 2
set_io o_drive_dig[2] 61 # Common Anode Digit 3; LTC Pin 6 
set_io o_drive_dig[3] 62 # Common Anode Digit 4; LTC Pin 8 